<h1>Edit User</h1>

<form action="/users/{{editEvent._id}}?_method=PUT" method="POST">
  <div>
    <label for="name">Event Name</label>
    <input type="text" name="name" value="{{editEvent.name}}" />
  </div>
  <div>
    <label for="description">Description</label>
    <input type="text" name="description" value="{{editEvent.description}}" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="location" value="{{editEvent.location}}"/>
  </div>
  <div>
    <label for="contact">Event Contact</label>
    <input type="text" name="contact" value="{{editEvent.contact}}" />
  </div>
  <div>
    <label for="startDate">Event Start Date</label>
    <input type="date" name="startDate" value="{{editEvent.startDate}}" />
  </div>
    <div>
    <label for="endDate">Event End Date</label>
    <input type="date" name="endDate" value="{{editEvent.endDate}}" />
  </div>
    <div>
    <label for="attended">Did you attend?</label>
    <input type="boolean" name="attended" value="{{editEvent.attended}}" />
  </div>
  <button type="submit">Save User</button>
</form>