<h1>Events</h1>
<ul>
  {{!-- {{#each listOfUsers}} --}}
  {{#each listOfEvents}} 
  <li>
    <a href="/users/{{../userId}}/events/{{_id}}">
      <p>{{name}}</p>
       </a>
      <p>{{description}}</p>
      <p>{{location}}</p>
  </li>
  {{/each}}
  {{!-- {{/each}} --}}
</ul>