<h1>{{event.name}}</h1>
<p>Description: {{event.description}}</p>
<p>Location: {{event.location}}</p>
<p>Start Date: {{event.startDate}}</p>
<p>End Date: {{event.endDate}}</p>
<p>Contact: {{event.contact}}</p>
<p>Attended: {{event.attended}}</p>

<form action="/users/{{event._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete Event</button>
</form>

