<h3>{{event.name}}</h3>
<div class="eventgrid">
  <div class="col s12 m7">
    <h4 class="header">{{name}}</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{event.photo}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li>Name: {{event.description}}</li>
            <li>Location: {{event.location}}</li>
            <li>Start Date: {{event.startDate}}</li>
            <li>End Date: {{event.endDate}}</li>
            <li>Contact: {{event.contact}}</li>
            <li>Attended: {{event.attended}}</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="/users/{{userId}}/events/{{event._id}}/activities">Show Activities</a>
          <a href="/users/{{userId}}/events/{{event._id}}/delete">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>