<h1>{{listEvent.name}}</h1>
<p>Description: {{listEvent.description}}</p>
<p>Location: {{listEvent.location}}</p>
<p>Start Date: {{listEvent.startDate}}</p>
<p>End Date: {{listEvent.endDate}}</p>
<p>Contact: {{listEvent.contact}}</p>
<p>Attended: {{listEvent.attended}}</p>

<form action="/users/{{listEvent._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete Event</button>
</form>

