<h1>Activities</h1>
<ul>
  {{#each activity}}
  <li>
    <a href="/users/{{_id}}">
      <p>{{activity.name}}</p>
    </a>
  </li>
  {{/each}}
</ul>

<h3>Events</h3>
<ul>
  {{#each activity}}
  <div class="eventgrid">
    <div class="col s12 m7">
      <h4 class="header">{{name}}</h4>
      <div class="card horizontal">
        <div class="card-image">
          <img src="http://www.geocities.ws/smyrnavolunteers/Keep%20Smyrna%20Beautiful/Highlands%20Day%20of%20Caring/thumbs/ECCC%20Highlands%20Event%20016.JPG">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <li>
              <p>Name: {{description}}</p>
              <p>Location: {{location}}</p>
              <p>Start Date: {{startDate}}</p>
              <p>End Date: {{endDate}}</p>
              <p>Contact: {{contact}}</p>
              <p>Attended: {{attended}}</p>
            </li>
          </div>
          <div class="card-action">
            <a href="/users/{{../userId}}/events/{{_id}}">Show Event</a>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
</ul>