<h3>Activity</h3>
<div class="eventgrid">
  <div class="col s12 m7">
    <h4 class="header">{{activity.name}}</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img src="{{activity.photo}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <ul>
            <li>Name: {{activity.description}}</li>
            <li>Location: {{activity.location}}</li>
            <li>Start Date: {{activity.startDate}}</li>
            <li>End Date: {{activity.endDate}}</li>
            <li>Contact: {{activity.contact}}</li>
            <li>Attended: {{activity.attended}}</li>
          </ul>
        </div>
        <div class="card-action">
          <a href="/users/{{userId}}/events/{{eventId}}/activities/{{activity._id}}/edit">Edit Activity</a>
          <a class="waves-effect waves-light red lighten-8" href="/users/{{userId}}/events/{{eventId}}/activities/{{activity._id}}/delete">Delete</a>
        </div>
      </div>
    </div>
  </div>
</div>