<h1>{{listActivity.name}}</h1>
<p>Age: {{listActivity.description}}</p>
<p>location: {{listActivity.location}}</p>
<p>Supplies : {{listActivity.supplies}}</p>
<p>Contact : {{listActivity.contact}}</p>
<p>Total volunteer hours: {{listActivity.totalHours}}</p>

<form action="/activities/{{listActivity._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete User</button>
</form>
