<div>
  <div class="col s12 m7">
    <h3 class="header">{{userProfile.name}}</h3>
    <div class="card horizontal">
      <div class="card showCard">
        <img class="activator circle responsive-img userCards" src="{{userProfile.photo}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>Age: {{userProfile.age}}</h5>
          <h5>email: {{userProfile.email}}</h5>
          <h5>Preferred contact method: {{userProfile.contactMethod}}</h5>
        </div>
        <div class="card-action">
          <a href="/users/{{userProfile._id}}/events">View Events</a>
          <a href="/users/{{userProfile._id}}/edit">Edit Profile</a>
        </div>
      </div>
    </div>
  </div>
  <form action="/users/{{userProfile._id}}?_method=DELETE" method="POST">
    <button class="waves-effect waves-light red btn" type="submit">Delete Profile</button>
  </form>
</div>