<div>
  <div class="col s12 m7">
    <h2 class="header">{{userProfile.name}}</h2>
    <div class="card horizontal">
      <div class="card showCard">
        <img class="activator circle responsive-img userCards" src="{{userProfile.photo}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h5>Age: {{userProfile.age}}</h5>
          <h5>email: {{userProfile.email}}</h5>
          <h5>Preferred contact method: {{userProfile.contactMethod}}</h5>
          <h5>Total volunteer hours: {{userProfile.totalHours}}</h5>
        </div>
        <div class="card-action">
           <a href="/users/{{userProfile._id}}/events">View Events</a>
          <a href="/users/{{userProfile._id}}/edit">Edit Profile</a>
          <a href="/users/{{userProfile._id}}?_method=DELETE" method="POST">Delete Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>